<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Registration Api</title>
	<link rel="icon" type="image/png" href="/">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

  

      